// https://stackoverflow.com/a/44051405/4811066
.chat-container {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  position: fixed;
  bottom: 66px;
  width: calc(100% - 4rem);
  height: 100%;
  max-width: 650px;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  max-height: calc(100vh - 54px);
  padding: 0 0 1rem;
  // border: 1px solid #ccc;

  .header {
    margin: 68px 0 auto;
    padding-bottom: 40px;
  }

  .chat-info {
    margin-bottom: auto;
    padding-bottom: 40px;

    @include bp("xsmall") {
        padding-bottom: 80px;
    }
  }
}

.the-conversation {
  display: flex;
  flex-direction: column;

  .MuiPaper-root.chat-card {
    width: 80%;
    margin-bottom: 24px;
    padding: 16px 16px 24px;
    border-color: white;
    border-radius: 16px;
  
    h5 {
      color: #24c6ff;
      margin-bottom: 4px;
    }
  
    p {
      margin: 0;
    }

    &--0 {
      background-color: #0f0f0f;
    }

    &--1 {
      align-self: flex-end;
      background-color: #272727;
    }
  }
}

.rce-container-mbox {
  margin-bottom: 1rem;
}

.rce-mbox {
  max-width: 80%;
  margin-left: 0;
  padding: 15px 15px 8px;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
  background-color: #151515;

  &.rce-mbox-right {
    margin-right: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #2f2f2f;
  }

  svg {
    display: none;
  }
}

.rce-mbox-title {
  color: #35a6ce;
}

.rce-mbox-text {
  font-size: 1rem;
  letter-spacing: 0.06rem;
  color: black;
  color: white;
}

.rce-mbox-time {
  color: #6c6c6c;
}
