// o————————————————————————————————————o header —>
//
.header {
  display: block;
  width: 100%;
  max-width: 650px;
  margin-top: calc(var(--prompt-form-height) + 2rem);

  &__title {
    color: white;
  }
}

// o————————————————————————————————————o nav —>
//
nav {
  font-weight: 300;
  // font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .nav {
    &__item {
      a {
        &:hover {
          color: white;
        }
      }

      &--middot {
        display: none;

        @media screen and (min-width: 576px) {
          display: block;
        }
      }

      &--active {
        a {
          color: #b4b4b4;
          cursor: default;

          &:hover {
            color: #b4b4b4;
          }
        }
      }

      &--hidden {
        display: none;
      }
    }
  }
}
