$breakpoints: (
  "xsmall": 480px,
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin bp($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// o————————————————————————————————————o input mono weights —>
//
$inputWeight: (
  "thin": 100,
  "xlight": 200,
  "light": 300,
  "regular": 400,
) !default;

@mixin input-mono($inputWeight) {
  font-family: "input-mono", monospace;
  font-weight: $inputWeight;
  font-style: normal;
}

$formaWeight: (
  "thin": 200,
  "xlight": 300,
  "light": 400,
  "regular": 500,
  "medium": 600,
  "bold": 700,
) !default;

@mixin forma($formaWeight) {
  font-family: "forma-djr-deck", sans-serif;
  font-weight: $formaWeight;
  font-style: normal;
}

$nokaWeight: (
  "light": 300,
  "medium": 500,
  "semibold": 600,
  "bold": 800,
) !default;

@mixin noka($nokaWeight) {
  font-family: "noka", sans-serif;
  font-weight: $nokaWeight;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.09rem;
  line-height: 1.7rem;
}

$stratum1Weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
) !default;

@mixin stratum1($stratum1Weight) {
  font-family: "stratum-1-web", sans-serif;
  font-weight: $stratum1Weight;
  font-style: normal;
  // letter-spacing: 0.09rem;
}

$stolzl: (
  "thin": 100,
  "light": 200,
  "book": 300,
  "regular": 400,
) !default;

@mixin stratum1($stolzl) {
  font-family: "stratum-1-web", sans-serif;
  font-weight: $stolzl;
  font-style: normal;
  // letter-spacing: 0.09rem;
}


// Inudstry
// font-family: "industry", sans-serif;
// 
$industry-fontWeight: (
  "thin": 200,
  "light": 300,
  "book": 400,
  "medium": 500,
  "bold": 700,
) !default;

@mixin body-font($industry-fontWeight) {
  font-family: "industry", sans-serif;
  font-size: 1.1rem;
  color: #e2e2e2;
  font-weight: $industry-fontWeight;
  font-style: normal;
  line-height: 1.7rem;
}

