@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

// o————————————————————————————————————o prompt form —>
//
.prompt-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--prompt-form-height, 44px);
  min-height: 44px;
  margin-bottom: 32px;
  padding-left: 12px;
  // padding-bottom: 16px;
  @include body-font(400);
  letter-spacing: 0.05rem;
  color: white;
  // overflow: hidden;
  border: 1px solid #6d6d6d;

  form {
    width: 100%;
    height: 100%;
  }

  textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 0;
    // padding: 0;
    margin: 0;
    @include body-font(300);
    line-height: 1.5rem;
    border: none;
    background-color: transparent;
    resize: none;

    &::placeholder {
      color: #989898;
      line-height: 1.5rem;
    }
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  &--submitted {
    font-weight: 100;
    font-style: italic;
  }

  &__input {
    width: 100%;
    height: 100%;
    // padding: 0.8rem 0 0.8rem 11px;
    padding: 0 0 0 8px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  .before-cursor {
    @include input-mono(200);
  }

  &__cursor {
    display: inline-block;
    background: white;
    line-height: 1rem;
    margin-left: 1px;
    animation: blink-animation 0.95s steps(2, start) infinite;
    width: 1px;
    height: 1.35rem;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  // o————————————————————————————————————o timer —>
  //
  .timer {
    &--visible {
      margin: 0 8px 0 16px;
      font-family: "Roboto Mono", monospace;
      font-size: 1rem;
      color: #989898;
      visibility: visible;
    }
  
    &--hidden {
      margin: 0 8px 0 16px;
      visibility: hidden;
    }
  }
  
  .response__container {
    .prompt-form {
      margin-top: 16px;
    }
  }
}